<footer id="footer">
  <nav>
    <a href="{{site.baseurl}}/">About</a>
    <a href="{{site.apply_url}}">Apply</a>
    <a href="{{site.baseurl}}/terms/">Terms</a>
    <a href="{{site.baseurl}}/privacy/">Privacy</a>
    <a href="{{site.baseurl}}/faq/">FAQ</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </nav>
  <p>Raudra Eduservices Pvt. Ltd. &copy; 2016</p>
</footer>

<!-- <footer>
  <div class="container container-table">
  <div class="row">
    <div class="col-sm-4">
      <h4>GET IN TOUCH WITH US</h4>
        <p>We provide gate online classes where you can complete the whole syllabus
          and we provide the support for the student how take gate online classes
        </p>
    </div>
    <div class="col-sm-4" style="text-align: center !important" >
      <h4>GET IN TOUCH WITH US</h4>
      <div id="form" class="form">
        <input type="text" placeholder="Name"><br/>
        <input type="email" placeholder="Email"><br/>

      </div>

    </div>
    <div class="col-sm-4" style="text-align: center !important">
      <h4>EXPLORE</h4>
    </div>
  </div>
</div>
</footer -->
