<!-- <footer id="footer">
  <nav>
    <a href="{{site.baseurl}}/">About</a>
    <a href="{{site.apply_url}}">Apply</a>
    <a href="{{site.baseurl}}/terms/">Terms</a>
    <a href="{{site.baseurl}}/privacy/">Privacy</a>
    <a href="{{site.baseurl}}/faq/">FAQ</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </nav>
  <p>Raudra Eduservices Pvt. Ltd. &copy; 2016</p>
</footer> -->
<script>
$(document).ready(function(){
  $("button").click(function(){
    var inputArray = $(":input").serializeArray();
    var values = {};
    console.log(inputArray);
    $.each(inputArray, function(i, val){
      values[val.name] = val.value;
    });
    $.post('http://127.0.0.1:8000/raudra/subscribe/', values, function(data){
      console.log(data);
    });
});
});
</script>
<footer id="footer">
  <div class="container container-table">
  <div class="row">
    <div class="col-md-4 footer-div">
      <h4>GET IN TOUCH WITH US</h4>
      <p>We provide gate online classes where you can complete the whole syllabus
        and we provide the support for the student how take gate online classes
      </p>
      <p> <i class="fa fa-phone-square"></i> 1800 2744 514 </p>
      <p> <i class="fa fa-envelope-o"></i> gate2014.ravindra@gmail.com</p>
    </div>
    <div class="col-xs-12 col-md-4 footer-div" >
      <h4>Subscribe for Updates</h4>
      <form  class="footer-form" method="post">
        <input type="text" name="name" class="form-control" placeholder="Name"><br/>
        <input type="email" name="email" class="form-control" placeholder="Email"><br>
        <button type="button" class="btn btn-secondary subscribe-btn pull-left">Subscribe</button>
      </form>

    </div>
    <div class="hidden-xs hidden-sm col-md-4 explore">
      <h4>EXPLORE</h4>
      <h6> Courses</h6>
      <h6> Test Series</h6>
      <h6> Testimonials</h6>
      <h6> FAQ'S</h6>
      <h6> Careers</h6>
    </div>
  </div>


</div>
<div class="col-xs-12 copyrights">
  <h5>  2016 <i class="fa fa-copyright"></i> Raudra. ALL RIGHTS are reserved.</h5>
</div>
</footer>
