#courses {
  padding-top: 15vh;
  text-align: center;
  .course-slide-container {
    background: #315562;
    i {
      font-size: 30px;
      color: white;
    }
    h2 {
      color: white;
      text-align: center;
      text-shadow: 1px 1px white;
    }

  }
  h4 {
    color: #315562;
    font-size: 2.5rem;
    // text-shadow: 0.2px 0.2px #315562;
  }
  .space-20 {
      padding: 20px;
  }
  .margin-b20 {
    margin-bottom: 20px;
  }
  .box-light {
    box-shadow: 0 1px 3px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s ease-in-out;
  }
  .margin-20 {
    margin-top: 20px;
  }
  .dark-grey {
    text-align: justify;
    text-justify: inter-word;
    color: #a99999;

  }
  .row {
  margin-right: -15px;
}
.img-container {
  i {
    font-size: 60px;
    color: #315562;
  }
}

  // .sub-img {
  //   text-align: center;
  //   img {
  //     width: 100%;
  //     height: 70vh;
  //     }
  //   }
  // .course-content {
  //   p {
  //     font-size: 0.6em;
  //     line-height: normal;
  //     // padding-left: 2em;
  //   }
  // }
}
