#register{
  padding-top: 13vh;
  // padding-bottom: 5vh;
  .panel-title{
    text-align: center;
    color: #315562;
    text-shadow: 0.5px 0.5px #315562;
  }
  .register-slide-container {
    background: #315562;
    i {
      font-size: 30px;
      color: white;
    }
    h2 {
      color: white;
      text-align: center;
      text-shadow: 1px 1px white;
    }
    }

  .gate-content{
    background-color: #F5F5F5;
    padding: 5px;
    margin: 10px;
    border: 0px solid #315562;
    border-radius: 50px;
    h4 {
      padding-left: 20px;
      padding-right: 20px;
      // text-align: center;
      color: #315562;
    }
    p{
      padding-left: 20px;
      padding-right: 20px;
      // text-align: justify;
    }
  }

}
#register{
  }
