#test-series-header {
  padding-top: 13vh;
  text-align: center;
  .test-slide-container {
    background: #315562;
    i {
      font-size: 30px;
      color: white;
    }
    h2 {
      color: white;
      text-align: center;
      text-shadow: 1px 1px white;
    }
  }
}
#exam-time-table{
  text-align: center;
  h3{
    color: #315562;
    padding-top: 40px;
  }
  #description{
    padding-top: 40px;
    p{
      text-align: left;
      font-size: 1.17em;
    }
  }
}
