#test-series {
  padding-top: 13vh;
  text-align: center;
  .test-slide-container {
    background: #315562;
    i {
      font-size: 30px;
      color: white;
    }
    h2 {
      color: white;
      text-align: center;
      text-shadow: 1px 1px white;
    }
  }
}
