#test-series-header {
  padding-top: 13vh;
  text-align: left;
  .test-slide-container {
    background: #315562;
    i {
      font-size: 30px;
      color: white;
    }
    h2 {
      color: white;
      text-align: center;
      text-shadow: 1px 1px white;
    }
  }
}
#exam-time-table{
  text-align: left;
  color: #315562;
  h3{
    // color: #315562;
    text-shadow: 0.4px 0.4px #315562;
    padding: 20px;
    text-align: center !important;
    border: 0px solid #315562;
    border-radius: 40px;
    background: #F4F4F4;
  }
  #description{
    padding-top: 40px;
    p{
      text-align: justify;

      font-size: 1.17em;
    }
  }
}
